@media (min-width: 1200px) {
  .hero {
    background-image: url(../images/restaurants/restaurants/Pushkin/bg/bg__hero-lg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 364px;
  }

  .food-food-card__items-title-line {
    display: none;
  }

  .hero__desc {
    padding: 38px;
    margin-top: 80px;
  }

  .hero__title {
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 54px;
  }

  .food-food-card__items-title {
    margin-bottom: 32px;
  }

  .food-food-card {
    border-radius: 2px 0 0 2px;
    border: 1px solid rgba(117, 117, 117, 0.2);
    border-right: none;
  }

  .food-food-card__image {
    width: 170px;
    height: 160px;
  }

  .food-food-card__desc {
    padding: 16px;
  }
}

@media (max-width: 1199px) {
  .container {
    max-width: 956px;
  }

  .hero {
    background-image: url(../images/restaurants/restaurants/Pushkin/bg/bg__hero-lg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 364px;
  }

  .hero__desc {
    padding: 38px;
    margin-top: 80px;
  }

  .hero__title {
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 54px;
  }

  .food-card__items-title {
    margin-bottom: 32px;
  }

  .food-card__items-title-line {
    display: none;
  }

  .food-card {
    border-radius: 2px 0 0 2px;
    border: 1px solid rgba(117, 117, 117, 0.2);
    border-right: none;
  }

  .food-card__image {
    width: 170px;
    height: 160px;
  }

  .food-card__desc {
    padding: 16px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 752px;
  }

  .restaurants__cards {
    margin-bottom: 48px;
  }

  .food-card__desc {
    padding: 16px 24px;
  }

  .food-card__image {
    width: 200px;
    height: 160px;
  }

  .footer__bottom-text {
    font-size: 10px;
    line-height: 11px;
  }

  .hero {
    background-image: url(../images/restaurants/restaurants/Pushkin/bg/bg__hero-md.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 364px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 516px;
  }

  .sing-in {
    margin-right: 0;
  }

  .arrow-up__link {
    width: 64px;
    height: 64px;
  }

  .arrow-up__image {
    bottom: 20px;
    right: 24px;
  }

  .basket {
    display: none;
  }

  .food-menu__menu {
    display: none;
  }

  .food-card__items-title {
    text-align: center;
    margin-bottom: 12px;
  }

  .food-card__items-title-line {
    display: block;
    width: 50px;
    background-color: #757575;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 43px;
  }

  .social__links {
    margin-bottom: 42px;
  }

  .footer__bottom-text {
    font-size: 11px;
    line-height: 13px;
  }
}

@media (max-width: 575px) {
  .container {
    max-width: 306px;
  }

  .hero {
    background-image: url(../images/restaurants/restaurants/Pushkin/bg/bg__hero-xs.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 255px;
  }

  .hero__text {
    text-align: center;
  }

  .hero__title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 40px;
  }

  .hero__desc {
    padding: 24px;
    flex-direction: column;
    margin-top: 131px;
    box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
    border-radius: 2px;
  }

  .hero__price {
    align-self: center;
    margin-bottom: 5px;
  }

  .hero__time {
    align-self: center;
  }

  .food-menu__menu {
    display: none;
  }

  .food-card__items-title {
    text-align: center;
    margin-bottom: 12px;
  }

  .food-card__items-title-line {
    display: block;
    width: 50px;
    background-color: #757575;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 43px;
  }

  .food-card {
    border-radius: none;
    border: none;
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);
  }

  .food-card__desc {
    padding: 0 18px 15px 8px;
  }

  .food-card__image {
    width: 102px;
    height: 102px;
  }

  .food-card__title {
    font-size: 14px;
    width: 188px;
    height: 24px;
    overflow: hidden;
  }
}